
.logo {
    float: left;
    width: 15%;
    padding: 1%;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li { 
    display: inline-block;
    margin: 50px;
}



.projects {
    background: orange;
    display: flex;
    justify-content: center;
   

   
}

.project1 {
    background: gray;
    margin:20px;
    width: 200px;
    height: 200px;
    text-align: center;
}


.project2 {
    background: gray;
    margin:20px;
    width: 200px;
    height: 200px;
    text-align: center;
}


.project3 {
    background: gray;
    margin:20px;
    width: 200px;
    height: 200px;
    text-align: center;
}






.social media {
    display: flex;
    justify-content: flex-end;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer ul { 
    display: inline-block;
    list-style: none;


}