header {
    height:150px;
    background-color: lightblue;
}



.logo {
    float: left;
    width: 10%;
    padding: 1%;
}


.headerlist {
   float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;


}



nav li { 
    display: inline-block;
    margin: 50px;
}



section {
    /*vertical-align: baseline; */
    background-color: yellow ;
}


.projects {
    background: orange;
    width: 150px;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    display: block;
    margin-left: auto;
    margin-right: auto; 

   

   
}

.project {
    background: gray;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80%;
     margin-left: auto;
    margin-right: auto; 
   
}







.socialmedia {
    display: flex;
    justify-content: flex-end;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer ul { 
    display: inline-block;
    list-style: none;


}