
.logo {
    display: flex;
    width: 10%;
    padding: 1%;
}


nav ul {
    display: flex;

    margin: 0;
    padding: 0;
    list-style: none;
}

nav li { 
    display: inline-block;
    margin: 50px;
}



.projects {
    background: orange;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   

   

   
}

.project1 {
    background: gray;
    margin:20px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80%;
   
}


.project2 {
    background: gray;
    margin:20px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80%;
}


.project3 {
    background: gray;
    margin:20px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80%;
}






.socialmedia {
    display: flex;
    justify-content: flex-end;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer ul { 
    display: inline-block;
    list-style: none;


}