header {
    /*height:100px;*/
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*padding: 30px;*/
    position:absolute;
    width: 100%;
}



.logo {
    width: 10%;
    margin-right: auto;
}

.navbar {
    width: 5%;
    display: none;
}


nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    
}



nav li { 
    /*display: inline-block;*/
    margin: 20px 10px ;
    border-style: none;
}





.container2 {
    width: 100px;
    /*margin: 0 auto;*/
    text-align: center;
    font-size: 22px;
    font-family: "Open Sans", helvetica, sans-serif;
    /*display:none;*/
}

#dropDown {
    display: none;

}
#toggle {
    background-color: #FF6767;
    padding: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer; 
    display:flex;
    justify-content: flex-end;
  }
ul {
    margin:0;
    padding: 0;
    list-style-type:none;
}

li {
    margin:0;
    padding: 15px;
    border: 1px solid black;
}





section {
    background-color: yellow ;
    height: 675px;
    display: flex;
    align-items: center;

}


.projects {
    background: orange;
    height: 360px;
    width: 150px;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    /*display: flex;*/ 
    /*flex-direction: column;*/
    /*display: flex;
    align-items: center;*/
    /*flex-direction: column;*/
   

   
}

.project {
    background: gray;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto; 
   
}




footer { 
    height: 50px;
    background-color: pink;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.container {
    height: 10px;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
    


}

.rodaba {
    margin-right: auto;

}

.contact {
    /*margin-right: 30px;*/
    text-align: right;
   
  
}

.socialmedia {
    width:60%;
    margin-left: 0px;
}

.socialmediacontainer {
    width: 10%;
    display: flex;
    justify-content: flex-end;
}


/* MEDIA QEURIES*/
@media only screen and (max-width: 750px) {

    .navbar{
        display: block;
        width: 30%;

    }

    nav ul {
        display: none;
    }

    header {
		float: none;
		width: 100%;
		background-color: #ffaaaa;
	}
	section {
		background-color: blue
	}
	.container {
		background-color: blue;
	}
}





